* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app_wrap{
    padding:0 1.5rem;
}

footer{
  padding: 1rem 0;
}

footer p{
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

img {
  width:100%;
}

.photo-list{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(14rem,1fr));
  gap:1rem;
  margin:20px;
}


