.hero_container {
  height: 260px;
  margin: 20px 0 30px;
  display: grid;
  gap: 3px;
  grid-template:
    "visual number expression" 180px
    "visual other  other" 80px /
    30% 320px 1fr;
}

@media (width < 640px) {
  .hero_container {
    height: 440px;
    gap: 2px;
    grid-template:
      "visual number" 240px
      "expression expression" 100px
      "other other" 100px /
      1fr 1fr;
  }

  .visual h2{
    font-size: 21px;
  }
}

.visual {
  grid-area: visual;
  background-color: #fcc;
  display: grid;
  place-content: center;
  place-items: center;
}

.number {
  grid-area: number;
  background-color: #caf;
  display: grid;
  place-items: center;
}

.expression {
  grid-area: expression;
  background-color: #ffb;
  display: grid;
  place-items: center;
}

.other {
  grid-area: other;
  background-color: #bfa;
  display: grid;
  place-items: center;
}

.visual img,
.number img,
.expression img,
.other img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
